<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="/css/app.css" rel="stylesheet">
  <script src="/js/virtualScroll.min.js"></script>
  <script src="/js/cssTricks.min.js"></script>
  <title>家庭記帳本</title>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-between px-5">
        <a class="navbar-brand fw-bold" href="/">家庭記帳本</a>
      </div>
    </nav>
  </header>

  <div style="height: calc(100vh - 58px);overflow-y:auto">
    {{{ body }}}
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>