<h1 class="text-center mt-5">帳號註冊</h1>
<div class="mt-5 container w-50">
  <form action="/users" method="POST" class="needs-validation" id="userForm" novalidate>
    <div class="row mb-3">
      <label for="name" class="col-3 col-form-label fs-5 fw-bold">用戶名稱 <span class="text-danger">*</span></label>
      <div class="col-9">
        <input type="text" class="form-control" name="name" id="name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="category" class="col-3 col-form-label fs-5 fw-bold">帳號密碼 <span class="text-danger">*</span></label>
      <div class="col-9">
        <input type="password" class="form-control" name="password" id="password"
          onchange="form.confirmPwd.pattern = this.value" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="image" class="col-3 col-form-label fs-5 fw-bold">確認密碼 <span class="text-danger">*</span></label>
      <div class="col-9">
        <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" required>
        <div class="invalid-feedback">
          此欄位值須與密碼欄位值相符
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success">註冊</button>
    </div>
  </form>
  <div class="d-flex justify-content-center align-items-center">
    <span class="me-2">已有帳號?</span>
    <a class="btn btn-primary" href="/login">用戶登入</a>
  </div>
</div>
{{> message}}

<script>
  const userForm = document.getElementById('userForm');

  userForm.addEventListener('submit', (event) => {
    event.preventDefault();
    event.stopPropagation();

    userForm.classList.add('was-validated');
    if (userForm.checkValidity()) userForm.submit();
  })
</script>